{% extends "base.html" %}
{% block main %}
<main class="container">
	<section class="row">
		<div class="col-12 col-lg-8">
			<h1 class="h3 my-5">Личный кабинет. Заказы</h1>

			{% for order in all_user_orders %}
			<div class="mt-4 card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7 col-lg-9">
								<span class="h5">Дата: {{order.dt}}</span>
								<span class="h5">Стоимость: {{order.price}} P</span>
							</div>
							<div class="col-3 col-lg-2 ml-5 py-2 badge badge-primary text-wrap">Выполняется</div>
						</div>
					</li>
					<div class="card-body">
						<div class="row">
							<p class="col-4 text-muted">Ролл "Хомский" </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 310 </p>
							<p class="col-4 text-muted">Бургер 404 </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 420 </p>
							<p class="col-4 text-muted">Пицца "Армин" </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 350 </p>
						</div>
					</div>
				</ul>
			</div>
			{% endfor %}

<!-- 
			<div class="mt-4 card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7 col-lg-9">
								<span class="h5 font-weight-bold">25 Февраля</span>
								<span class="h5">- 1240 P</span>
							</div>
							<div class="col-3 col-lg-2 ml-5 py-2 badge badge-primary text-wrap">Выполняется</div>
						</div>
					</li>
					<div class="card-body">
						<div class="row">
							<p class="col-4 text-muted">Ролл "Хомский" </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 310 </p>
							<p class="col-4 text-muted">Бургер 404 </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 420 </p>
							<p class="col-4 text-muted">Пицца "Армин" </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 350 </p>
						</div>
					</div>
				</ul>
			</div>


			<div class="mt-4 card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="row">
							<div class="col-7 col-lg-9">
								<span class="h5 font-weight-bold">11 Февраля</span>
								<span class="h5">- 875 P</span>
							</div>
							<div class="col-3 col-lg-2 ml-5 py-2 badge badge-success text-wrap">Готово</div>
						</div>
					</li>
					<div class="card-body">
						<div class="row">
							<p class="col-4 text-muted">Ролл "Хомский" </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 315 </p>
							<p class="col-4 text-muted">Бургер 404 </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 250 </p>
							<p class="col-4 text-muted">Пицца "Армин" </p>
							<p class="col-2 text-muted"> 1</p>
							<p class="col-6 text-muted"> 310 </p>
						</div>
					</div>
				</ul>
			</div>
 -->

		</div>
	</section>
</main>
{% endblock %}
