<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<title>Stepik Delivery</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		/* Sticky footer styles
    -------------------------------------------------- */
		html {
			position: relative;
			min-height: 100%;
		}

		body {
			margin-bottom: 60px;
			/* Margin bottom by footer height */
		}

		.footer {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 60px;
			/* Set the fixed height of the footer here */
			line-height: 60px;
			/* Vertically center the text there */
		}

		.navbar {
			padding-top: 0;
			padding-bottom: 0;
		}
	</style>
</head>

<body>

	<!-- Вывод flash сообщений -->
	<div class="container mt-3">
		{% with messages=get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-secondary text-danger small" role="alert">{{ message }}</div>
		<!-- <p class="small text-danger">{{ message }}</p> -->
		{% endfor %}
		{% endif %}
		{% endwith %}
	</div>

	<header class="container mt-3">
		<nav class="py-1 navbar navbar-dark bg-dark">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<!-- <p class="h5 my-2 text-white bg-dark">Stepik Delivery</p> -->
				<a class="h5 nav-link text-white" href="/">Stepik Delivery</a>
			</ul>
			<a href="/cart/" class="nav-link text-white">Корзина ( {{ tot_cart_items }} штук на сумму {{ tot_cart_priсe }} руб.)</a>
			<img class="ml-2" src="../static/pictures/cart_smile.jpeg" alt="" width="24" height="25">
			{% if session["is_auth"] %}
			<a href="/logout/" class="btn btn-light btn-sm ml-4">Выйти</a>
			{% else %}
			<a href="/login/" class="btn btn-warning btn-sm ml-4">Войти</a>
			{% endif %}		
			<!-- <a href="/logout/" class="btn btn-light btn-sm ml-4 d-none">Выйти</a> -->
			<!-- <a href="/login/" class="btn btn-warning btn-sm ml-4">Войти</a> -->
		</nav>
	</header>

	{% block main %}{% endblock %}

	<footer class="footer">
		<nav class="container navbar navbar-light bg-light">
			<ul class="navbar-nav mr-auto">
				<!-- <p class="h4 nav-link" href="/">Stepik Delivery</p> -->
				<a class="h4 nav-link" href="/">Stepik Delivery</a>
			</ul>
			<a class="text-muted" href="#">Project author 2020</a>
		</nav>
	</footer>

</body>

</html>
