{% extends "base.html" %}
{% block main %}
<main class="container">
	<h1 class="h3 my-4">Корзина</h1>
	<div class="row mt-5">
		
		<div class="col-4">
			<h4 class="">Ваши данные</h4>
			<div class=" md-4 order-md-1">
			<form class="form-signin" method="POST" action="/order/">
				<!-- <form class="form-signin pt-5" method="POST" action="{{ url_for('render_register') }}" > -->

				<!-- Ставит CSRF токен в форму -->
				<!-- Если не будет валидация формы методом form.validate_on_submit() не пройдет -->
				<!-- form.hidden_tag() более универсален тоже ставит CSRF токен в форму, и если есть hidden поля - их тоже.   -->
				{{ form.csrf_token }}
				<div class="mt-3 mb-3">
					<!-- Заголовок поля формы -->
					{{ form.name.label(class="font-weight-normal") }}
					<!-- Поле формы -->
					{{ form.name(class="form-control") }}
          		</div>
				<div class="mt-3 mb-3">
					<!-- Заголовок поля формы -->
					{{ form.address.label(class="font-weight-normal") }}
					<!-- Поле формы -->
					{{ form.address(class="form-control") }}
          		</div>
				<div class="mt-3 mb-3">
					<!-- Заголовок поля формы -->
					{{ form.email.label(class="font-weight-normal") }}
					<!-- Поле формы -->
					{{ form.email(class="form-control", value=user_email) }}
          		</div>
				<div class="mt-3 mb-3">
					<!-- Заголовок поля формы -->
					{{ form.phone.label(class="font-weight-normal") }}
					<!-- Поле формы -->
					{{ form.phone(class="form-control") }}
          		</div>
				<div class="mt-3">
					<button class="btn btn-lg btn-danger btn-block" type="submit">Оформить заказ</button>
				</div>
				
				<!-- Вывод ошибок при заполнении формы -->
				<div class="mt-3">
					{% if form.errors %}
					{% for field_name, field_errors in form.errors|dictsort if field_errors %}
					{% for error in field_errors %}
					<p class="small text-danger">{{ form[field_name].label }} - {{ error }}</p>
					{% endfor %}
					{% endfor %}
					{% endif %}
				</div>
			</form>

			</div>
		</div>

		<div class="col-1"></div>
		<div class="col-7">
			<h4 class="mb-3 col-7 mb-5">В корзине {{tot_cart_items}} позиций </h4>
			<table class="table">
				<tbody>
					{% for item_data in cart_items_data %}
					<tr>
						<th scope="row">{{item_data.title}}</th>
						<td>{{cnt_cart_items[item_data.uid]}}</td>
						<td>{{item_data.price}}</td>
						<td><a class="text-danger" href="/cart/del/{{item_data.uid}}">Удалить</a></td>
					</tr>
					{% endfor %}

				</tbody>
			</table>
			<hr>
			<p class="display-4 my-2 ">{{ tot_cart_priсe }} руб</p>
		</div>
	</div>
</main>
{% endblock %}
