{% extends "base.html" %}
{% block main %}
<!-- <main class="container mt-3"> -->
<main class="container">

	{% include "jumbotron.html" %}

	<section>
		{% for category in c_all %}
		<h3 class="my-4">{{ category.title }}</h3>
		<div class="row mt-4">
			{% for item in i_all %}
			{% if item.category|string == category.uid|string %}
			<div class="col-12 col-md-4">
				<div class="card mb-3">
					<img src="../static/pictures/{{ item.picture }}" width="300" height="200" class="card-img-top" alt="">
					<div class="card-body">
						<h4 class="h5 card-title">{{ item.title }}</h4>
						<p class="card-text">{{ item.description }}</p>
						<a href="/cart/add/{{item.uid}}" class="btn btn-danger">В корзину</a>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% endfor %}
	</section>

</main>

{% endblock %}
