<section class="my-5 jumbotron jumbotron-fluid">
	<div class="text-center">
		<img class="ml-2" src="../static/pictures/jumbotron_img.jpeg" alt="" width="401" height="33">
		<h1 class="h2 mt-5 m-2">Всякая еда, чтобы кушать.</h1>
		<h2 class="h3">Прилетит к вам сама</h2>
		<p class="pt-4">Доставка дронами</p>
	</div>
</section>
