{% extends "base.html" %}
{% block main %}
<main class="container">
	<div class="row">
		<div class="col-8 col-lg-4 offset-2 offset-lg-4">

			<form class="form-signin pt-5" method="POST" action="/login/">

				<!-- Ставит CSRF токен в форму -->
				<!-- Если не будет валидация формы методом form.validate_on_submit() не пройдет -->
				<!-- form.hidden_tag() более универсален тоже ставит CSRF токен в форму, и если есть hidden поля - их тоже.   -->
				{{ form.csrf_token }}
				<div class="text-center mt-5 b-1">
					<img class="mb-4" src="../static/pictures/stepik_delivery_logo.jpeg" alt="" width="92" height="52">
					<h1 class="h3 mb-3 font-weight-normal">Stepik delivery</h1>
					<p class="h5 font-weight-light">Войдите, чтобы управлять</p>
				</div>

				<div class="mt-3 form-label-group">
					<!-- Заголовок поля формы -->
					{{ form.email.label(class="text-muted") }}
					<!-- Поле формы -->
					{{ form.email(class="form-control") }}
				</div>

				<div class="mt-3 form-label-group">
					<!-- Заголовок поля формы -->
					{{ form.password.label(class="text-muted") }}
					<!-- Поле формы -->
					{{ form.password(class="form-control") }}
				</div>

				<div class="mt-3">
					<button class="btn btn-lg btn-danger btn-block" type="submit">Войти</button>
					<p class="small text-muted text-center mt-3">Нет аккаунта? <a href="/register/">Регистрация</a>
					</p>
				</div>

				<!-- Вывод ошибок при заполнении формы -->
				<div class="mt-3">
					{% if form.errors %}
					{% for field_name, field_errors in form.errors|dictsort if field_errors %}
					{% for error in field_errors %}
					<p class="small text-danger">{{ form[field_name].label }} - {{ error }}</p>
					{% endfor %}
					{% endfor %}
					{% endif %}
				</div>

			</form>
		</div>
	</div>
</main>
{% endblock %}
