{% extends "base.html" %}
{% block main %}
  <main class="container">
    <div class="row">
      <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form class="form-signin pt-5 mt-5">
          <div class="text-center">
            <img class="mb-4" src="../static/pictures/stepik_delivery_logo.jpeg" alt="" width="92" height="52">
            <h1 class="h3 mb-3 ">Заявка отправлена</h1>
            <p class="mb-4">Скоро мы вам перезвоним</p>
            <p class="mt-4 mb-3">Войдите в&nbsp;личный кабинет, чтобы отслеживать статус заказа</p>
            <a href="/account/" class="btn btn-lg btn-danger btn-block">Войти</a>
          </div>
        </form>
      </div>
    </div>
  </main>
{% endblock %}
